body {
  --twitter-color: rgba(29, 161, 242, 1);
  --twitter-background: #e6ecf0;
}

.app {
  display: flex;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px;
  padding: 0 10px;
}
