.sidebar {
  border-right: 1px solid var(--twitter-background) !important;
  flex: 0.23;
  margin-top: 10px;
  padding-left: 10px !important;
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 0px !important;
  padding: 8px 90px !important;
}

.sidebar_twittericon {
  color: var(--twitter-color) !important;
  font-size: 33px !important;
  margin: 0 0 0 20px;
}
